{% load static %}
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
       
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    
    <body>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand logo-title " href="{% url 'index' %}">Mr. Ask</a>
            <a class="btn btn-primary logo-title"  href="{% url 'new_question' %}">Ask your question!</a>
            <div class="d-flex gap-2 align-items-center">
                {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                
                    {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="avatar" width="60" height="60" class="rounded-circle">
                    
                    {% else %}
                    <img src="{% static 'img/hello-3.jpeg' %}" alt="Hello" width="60" height="60" class="rounded-circle">
                    {% endif %}

                    <row>
                        <div class="content__name logo-title d-flex gap-2">
                        {{ user.profile.nickname }}
                        </div>

                        <div class="d-flex gap-2">
                            <a href="{% url 'settings' %}" class="btn btn-outline-secondary btn-sm">Settings</a>
                            <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Log out</a>
                        </div>
                    </row>

                </div>
                {% else %}
                <div class="content d-flex align-items-center">
                    <div>
                        <img src="{% static 'img/hello-3.jpeg' %}" alt="Hello" width="60" height="60" class="rounded-circle">
                    </div>
                    <row>
                        <div class="content__name">It's me</div>
                        <div class="content__links">
                            <div class="d-flex gap-2">
                               
                                <a href="{% url 'login1' %}" class="btn btn-outline-danger btn-sm">Log in</a>
                            </div>
                        </div>
                    </row>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container-fluid mt-2">
        <div class="row">
            <section class="col">
                {% block content %}
                {% endblock%}
            </section>

            <aside class="col-3">
                <section class="mb-3">
                    <h3>Popular Tags</h3>
                    <div class="d-flex flex-wrap gap-2">
                        <span class="badge rounded-pill badge-gradient-1">Tag</span>
                        <span class="badge rounded-pill badge-gradient-2">TagTagTag</span>
                        <span class="badge rounded-pill badge-gradient-3">TagTag</span>
                        <span class="badge rounded-pill badge-gradient-4">Tag</span>
                        <span class="badge rounded-pill badge-gradient-5">TagTagTag</span>
                        <span class="badge rounded-pill badge-gradient-6">TagTag</span>
                    </div>
                </section>
                <section>
                    <h3>Best members</h3>
                    <div>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                    </div>
                </section>
            </aside>
        </div>
    </main>
    
    <script src="js/bootstrap.bundle.js"></script>
  </body>
</html>