<nav aria-label="Page navigation example" class="mt-3">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link badge-gradient-5" href="?page={{ page.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link badge-gradient-1" href="#">{{ page.number }}</a></li>
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link badge-gradient-5" href="?page={{ page.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
