{% extends "layouts/base.html"%}

{% load static %}


{% block content %}
<main class="container mt-2">
    <div class="row">
      <section class="col vh-100">
        <div class="d-flex align-items-center gap-2 mb-4 mt-2 section-title">
            <h1>Log In</h1> 
        </div>

        <articles class="d-flex gap-3 flex-column">
        <div class="container">
            <div class="login-container">
                <form id="loginForm">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputLogin6" class="col-form-label section-title m-3">Login</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputLogin6" class="form-control" placeholder="Enter your login here" 
                             maxlength="25" aria-describedby="LoginHelpInline">
                        </div>
                    </div> 
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label section-title">Password</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" id="inputPassword6" class="form-control" placeholder="********" 
                             maxlength="25" aria-describedby="PasswordHelpInline">
                        </div>
                    </div> 
                    <p id="error-message" class="error" style="color: red; font-weight: bold;"></p>
                
                    <button type="submit" class="btn btn-outline-success btn-block mt-4 mb-4">Login</button>
                
                    <div class="mt-2">
                        <a class="d-block link-offset-2 link-underline-opacity-100-hover" href="{% url 'signup' %}">create new account</a>
                    </div>
                </form>
                <script>
                    document.getElementById('loginForm').addEventListener('submit', function(event) {
                        event.preventDefault();

                        const login = document.getElementById('inputLogin6').value;
                        const password = document.getElementById('inputPassword6').value;
                        const errorMessage = document.getElementById('error-message');
                
                        if (password.length < 6) {
                            errorMessage.textContent = 'Sorry, wrong password!';
                        } else {
                            errorMessage.textContent = ''; 
                            alert('its OK');
                        }
                    });
                </script>
            </div>
        </div>
    </articles>
</section>
</div>
</main>

{% endblock %}