{% extends "layouts/base.html"%}

{% load static %}


{% block content %}
<main class="container mt-2">
    <div class="row">
      <section class="col vh-100">
        <div class="d-flex align-items-center gap-2 mb-4 mt-2 section-title">
            <h1>Registration</h1> 
        </div>

        <articles class="d-flex gap-3 flex-column">
        <div class="container">
            <div class="signup-container">
                <form id="registrationForm" action="{% url 'signup' %}" method ="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_username" class="col-form-label section-title ml-0 mb-3">Username</label>
                        </div>
                        <div class="col-auto">
                        {{ form.username }}
                        {{ form.username.errors }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_email" class="col-form-label section-title m-3">Email</label>
                        </div>
                        <div class="col-auto">
                        {{ form.email }}
                        {{ form.email.errors }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_nickname" class="col-form-label section-title mb-3 mt-3">Nickname</label>
                        </div>
                        <div class="col-auto">
                        {{ form.nickname }}
                        {{ form.nickname.errors }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_avatar" class="col-form-label section-title m-2"><p>Upload<br>avatar</p></label>
                        </div>
                        <div class="col-auto">
                        {{ form.avatar }}
                        {{ form.avatar.errors }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_password" class="col-form-label section-title mt-3 mb-3">Password</label>
                        </div>
                        <div class="col-auto">
                        {{ form.password }}
                        {{ form.password.errors }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="id_repeatpassword" class="col-form-label section-title"><p>Repeat <br>password</p</label>
                        </div>
                        <div class="col-auto">
                        {{ form.repeatpassword }}
                        {{ form.repeatpassword.errors }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-success btn-block mt-4 mb-4">Register</button>
                </form>
            </div>
        </div>
    </articles>

    </section>
</div>
</main>

{% endblock %}
