{% extends "layouts/base.html"%}
{% load static %}

{% block content %}
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1 class="section-title">{{ question.title }}</h1>
    </div>
    {% include 'layouts/question.html' %}
    
    
    {% for answer in answers%}  
        {% include 'layouts/question.html' %}
    {% endfor%}
    
    {% include 'layouts/pagination.html' %}

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <input type="Title" id="inputTitle6" class="form-control" placeholder="Enter your answer here" 
            style="width: 300%; height: 200px;" maxlength="350" aria-describedby="TitleHelpInline">
        </div>
    </div>
    <div class="d-grid gap-2 w-25 mb-3 mt-3">
        <button class="btn btn-outline-send" type="button">Answer</button>
    </div>


{% endblock %}

        
    
